body {
  background-color: #212121;
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
}
li{
    color: #fff;
}
ul{
  list-style: none;
}
h2{
    color: #007F5C;
}
a:visited{
    color: #fff;
}
a:hover {
  transition: 0.5s;
  color: #007F5C;
}
p {
  font-size: 20px;
  color: #fff;
}
section {
  text-align: center;
}
h1 {
font-size: 50px;
  font-weight: bold;
  color: #007F5C;
}
#home,
#about {
  padding-top: 100px;
  height: 80vh;
}
footer{
    background-color: #000;
}